.wrapper {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  font-size: calc(1rem + 1vw);
  font-family: "Work Sans", sans-serif;
}
.pageWrapper {
  min-height: calc(100vh - 120px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.textWrapper {
  padding: 0 1rem;
}
@media (max-width: 838px) {
  .wrapper {
    flex-direction: column;
  }
}
@media (max-width: 1085px) {
  .wrapper svg {
    width: 320px;
    height: 270px;
  }
}

@media (min-width: 1401px) {
  .wrapper svg {
    width: 500px;
    height: 450px;
  }
}
