* {
  font-family: "Inter", sans-serif;
  /* text-align: center; */
}
h1 {
  font-size: calc(1rem + 1vw);
  font-family: "Work Sans", sans-serif;
}
h2 {
  font-size: calc(0.8rem + 1vw);
  font-family: "Work Sans", sans-serif;
}
.resultPageWrapper {
  font-size: calc(0.1rem + 1vw);
}

.MeaningsAndDefenitionsWrapper li {
  line-height: 27px;
}
