.alertBox {
  position: absolute;
  top: 68px;
}

@media (max-width: 838px) {
  .alertBox {
    font-size: 1rem !important;
    line-height: none;
  }
}
.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 500px) {
  .input {
    width: 50%;
  }
}
